/* You can add global styles to this file, and also import other style files */
body {
    cursor:  url('/assets/icons/cursor.png'), auto;
    
    background: url('/assets/images/back.png');

    
}
@font-face {
    font-family: "Vollkorn";
    src: url("/assets/fonts/VollkornSC-Regular.ttf");
    }